@import url('/components/home/files/jost.ttf');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', serif;
    font-weight: normal;
    background-image: url(components/home/files/Background.jpg);
    background-repeat: repeat;
    color: rgb(66, 66, 66);
    text-decoration: none;

    -ms-touch-action: manipulation;
    touch-action: manipulation;

    -webkit-tap-highlight-color: transparent; /* Убрать подсвечивание ссылок */

}

/*** *** creating sass mixins for various devices *** ***/
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 1199px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (max-width: 1199px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1600px) {
        @content;
    }
}

/******   header   ******/
.Header {
    text-align: center;
    outline: none;
    user-select: none;
    padding: 0.7em;
    @include for-phone-only {
        margin: 0.3em auto;
        width: 80%;
    }
}
.HeaderButton {
    display: inline-block;
    width: 10em;
    @include for-phone-only {
        margin-top: 0.3em;
        width: 7em;
    }
}
.Header a {
    letter-spacing: 1px;
    font-size: 1.3em;
    padding-bottom: 5px;
    background: linear-gradient(#565656, #565656) no-repeat center bottom;
    background-size: 0 2px;
    transition: all 0.15s;
    @include for-phone-only {
        font-size: 1.1em;
    }

}
.Header a:hover {
    background-size: 100% 2px;
    @include for-phone-only {
        font-weight: normal;
    }
}
.HeaderBackButton {
    @extend .HeaderButton;
    width: 22em;
}

/*******************************************************************/
/***                 ***     HOMEPAGE   ***                     ***/
/*****************************************************************/

/******   face   ******/
.Face {
    text-align: center;
    margin-top: 10%;
    @include for-phone-only {
        margin: 2em 1.5em 0 1.5em;
    }
}
.Face h1 {
    font-size: 2.5em;
    @include for-phone-only {
        font-size: 2.5em;
    }
}
.Face h2 {
    font-weight: normal;
    @include for-phone-only {
        margin: 1em 0 0 0.7em;
        font-size: 1.5em;
    }
}
.reactIcon {
    margin: 2em auto 0 auto;
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    // Ниже код - чтобы бекграунд на не пустом фоне не крутился вместе с png файлом, где есть прозрачность
    text-rendering: optimizeLegibility;
    background: rgba(0, 0, 0, 0.005);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased; // на всякий случай тоже
    -moz-osx-font-smoothing: grayscale; // на всякий случай тоже

}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/******   about   ******/
.About {
    text-align: center;
    margin: 8em auto 8em auto;

    @include for-phone-only {
        margin: 1em 1em 1em 1em;
    }
    @include for-tablet-portrait-up {
        margin: 1em 2em 1em 3em;
    }
    @include for-tablet-landscape-up {
        width: 70%;
        margin: 0 auto;
    }
    @include for-desktop-up {
        width: 70%;
        margin: 0 auto;
    }
    @include for-big-desktop-up {
        width: 70%;
        margin: 0 auto;
    }
}
.About h1 {
    margin-bottom: 5%;
    @include for-phone-only {
        font-size: 2.5em;
    }
    @include for-tablet-landscape-up {
        margin-top: 2em;
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    @include for-desktop-up {
        margin-top: 4em;
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    @include for-big-desktop-up {
        margin-top: 6em;
        font-size: 2.5em;
        margin-bottom: 1em;
    }
}
.About p {
    @include for-phone-only {
        font-size: 18px;
        margin: 18px 1em;
        text-align: justify;
    }
    @include for-tablet-portrait-up {
        margin: 1em;
        text-align: justify;
    }
    @include for-tablet-landscape-up {
        font-size: 1.1em;
        margin-top: 18px;
        margin-bottom: 18px;
        text-align: justify;
    }
    @include for-desktop-up {
        font-size: 1.1em;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    @include for-big-desktop-up {
        font-size: 1.1em;
        margin-top: 18px;
        margin-bottom: 18px;
    }
}

/******   skills  ******/
.Skills {
    text-align: center;
    margin: 8em auto 8em auto;
}
.Skills h1 {
    font-size: 2.5em;
}
.SkillsIconPlaceHolder {
    margin: 3em auto 0 auto;
    width: 90%;
}
.SkillsIcon {
    position: relative;
    transform: scale(1.3);
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease;
    display: inline-flex;
    margin: 0.5em auto 0 auto;
    width: 7em;
    background: rgba(0, 0, 0, 0.005);
    @include for-phone-only {
        transform: scale(1);
        width: 20%;
    }
}
.SkillsIcon img {
    position: relative;
    display: inline-flex;
    justify-self: center;
    margin: 0 auto 0 auto;
    // Код ниже -  чтобы бекграунд не захватывался при движении png файла
    text-rendering: optimizeLegibility;
    background: rgba(0, 0, 0, 0.005);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); //
}
.SkillsIcon:hover .Popup {
    visibility: visible;
    @include for-phone-only {
        display: none;
    }
}
.SkillsIcon:hover {
    transform: scale(1.45);
    @include for-phone-only {
        transform: scale(1);
    }
}
.Popup {
    visibility: hidden;
    width: 120px; // важно учитывать вот это дело, когда центруешь

    text-align: center;
    font-size: 0.85em;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;

    margin-left: -62px; //половина от значения width
    border-radius: 5em;
    padding: 4px;
    margin-top: 0.7em;
    box-shadow: rgb(211, 211, 211) 1px 1px 1px;
    background: rgb(255, 255, 255);
    border: 0.1em solid rgba(75, 71, 71, 0.42);
}

/******   works   ******/
.Works {
    text-align: center;
    margin: 8em auto 8em auto;
}
.Works b {
    background: white;
    font-weight: 500;
}
.Works h1 {
    font-size: 2.5em;
}
.WorksPlaceholder {
    margin: 0 auto 0 auto;
    justify-content: center;
    @include for-tablet-landscape-up {
        display: flex;
        margin-top: 2em;
    }
    @include for-desktop-up {
        display: flex;
        margin-top: 2em;
    }
    @include for-big-desktop-up {
        display: flex;
        margin-top: 2em;
    }

}

/******   cards   ******/
.Card {
    text-align: center;
    background: white;
    border-radius: 2em;
    border: 1px solid rgba(75, 71, 71, 0.349);
    box-shadow: rgb(211, 211, 211) 2px 2px 30px;
    overflow: hidden;
    outline: none;
    user-select: none;
    display: inline-block;
    margin: 1em 0.5em 3em;
    width: 12em;
    height: 12em;
    @include for-phone-only {
        width: 12em;
        padding-bottom: 1em;
    }
    @include for-desktop-up {
        padding-top: 1em;
        margin: 2em;
        width: 14em;
        height: 16em;
        border-radius: 2em;
    }

}
.Card:hover {
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease;
    @include for-desktop-up {
        transform: scale(1.03);
    }
}
.Card:hover img:nth-child(2) {
    @include for-desktop-up {
        display: inline;
    }
}
.Card:hover img:nth-child(1) {
    @include for-desktop-up {
        display: none;
    }
}
.Card:focus {
    transform: scale(0.85);
    transition-duration: 0.1s;
}
.Card:focus img:nth-child(2) {
    display: none;
    @include for-phone-only {
        display: inline;
    }
    @include for-tablet-portrait-up {
        display: inline;
    }
    @include for-tablet-landscape-up {
        display: inline;
    }

}
.Card:focus img:nth-child(1) {
    display: inline;
    @include for-phone-only {
        display: none;
    }
    @include for-tablet-portrait-up {
        display: none;
    }
    @include for-tablet-landscape-up {
        display: none;
    }
}
.ProjectCard {
    @extend .Card;
    @include for-desktop-up {
        width: 28em;
        height: 13em;
    }
}
.ProjectCard img {
    margin: 1em;
    background: white;
    @include for-desktop-up {
        margin: 1em;
        transform: scale(1.2);
    }
}
.Card img {
    margin: 2em;
    width: 35%;
    background: white;
}
.Card img:nth-child(1) {
    display: inline;
    @include for-phone-only {
        display: none;
    }
    @include for-tablet-portrait-up {
        display: none;
    }
    @include for-tablet-landscape-up {
        display: none;
    }

}
.Card img:nth-child(2) {
    display: none;
    @include for-phone-only {
        display: inline;
    }
    @include for-tablet-portrait-up {
        display: inline;
    }
    @include for-tablet-landscape-up {
        display: inline;
    }
}
.CardText {
    background: white;
}
.Card h3 {
    background: white;
}
.Card h4 {
    background: white;
    font-size: 0.9em;
}


/******   contact   ******/
.Contact {
    text-align: center;
    margin: 8em auto 8em auto;
}
.Contact h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.Contact p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1.2em;
}
.Contact h2 {
    font-weight: 500;
    font-size: 1.2em;
}

/******   footer   ******/
.Footer {
    margin: 12em auto 0 auto;
    text-align: center;
}
.Footer p {
    margin-top: 5em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

/*******************************************************************/
/***                ***     CALCULATOR   ***                    ***/
/*****************************************************************/

/******   calculator   ******/
.Calculator {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.3em;
    border-style: solid;
    border-radius: 3em;
    background: rgba(21, 90, 125, 0.11) !important;
    @include for-phone-only {
        width: 18em;
        height: 75%;
        margin: 2.5em auto 0;
    }
    @include for-tablet-portrait-up {
        transform: scale(0.85);
        width: 20em;
        margin: 1em auto 0;
    }
    @include for-tablet-landscape-up {
        transform: scale(0.85);
        width: 20em;
        margin: 1em auto 0;
    }
    @include for-desktop-up {
        width: 20em;
        margin: 5% auto 0;
    }
    @include for-big-desktop-up {
        width: 20%;
        margin: 6em auto 0;
    }
}

/******   display value   ******/
.displayValue {
    border-style: solid;
    border-radius: 0.6em;
    border-width: medium;
    font-size: 3em;
    padding-bottom: 3%;
    padding-top: 3%;
    max-width: 75%;
    margin: 5% auto;
    text-align: center;
    overflow: hidden;
}

/******   buttons   ******/
.Button {
    font-size: 1.5em;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(66, 66, 66);
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: 22%;
    height: 50px;
    margin: 0.4em;
}
.ButtonHidden {
    font-size: 1.5em;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-color: rgb(66, 66, 66);
    opacity: 0;
    width: 22%;
    height: 50px;
    margin: 0.4em;
}
.ButtonOperator {
    font-size: 1.5em;
    border-radius: 1em;
    background: rgba(255, 100, 0, 0.16);
    border-style: solid;
    border-color: rgb(66, 66, 66);
    font-weight: bolder;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: 22%;
    height: 50px;
    margin: 0.4em;
}
.ButtonOperator:active {
    transform: scale(0.92);
}
.Button:active {
    transform: scale(0.92);
}
.Button:focus {
    outline: none;
}

/******   debug   ******/
.Debug {
    /*opacity: 0;*/
    display: none;
}

/*******************************************************************/
/***                  ***     GALLERY   ***                     ***/
/*****************************************************************/

/******   row-container   ******/
.row-container {
    text-align: center;
    display: inline-block;
    @include for-phone-only {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    @include for-tablet-portrait-up {
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
    }
    @include for-tablet-landscape-up {
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
    }
    @include for-desktop-up {
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
    }
    @include for-big-desktop-up {
        margin-top: 5em;
        margin-left: 15em;
        margin-right: 15em;
    }
}

/******   thumbnails   ******/
.thumbnail {
    border: 1px solid rgba(121, 121, 121, 0.39);
    border-radius: 1.5em;
    @include for-phone-only {
        width: 12em;
        margin: 1em;
    }
    @include for-tablet-portrait-up {
        width: 12em;
        margin: 1em;
    }
    @include for-tablet-landscape-up {
        width: 20%;
        margin: 1em;
    }
    @include for-desktop-up {
        width: 20%;
        margin: 1em;
    }
    @include for-big-desktop-up {
        width: 20%;
        margin: 1em;
    }
}
.thumbnail:hover {
    transform: scale(1.02);
}
.thumbnail:active {
    transform: scale(0.98);
}

/******   view-container and view-image   ******/
.viewContainer {
    text-decoration: none;
    position: absolute;
    border-radius: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    @include for-phone-only {
        width: 90%;
    }
    @include for-tablet-portrait-up {
        width: 80%;
    }
    @include for-tablet-landscape-up {
        width: 60%;
    }
    @include for-desktop-up {
        width: 60%;
    }
    @include for-big-desktop-up {
        width: 60%;
    }
}
.viewImage {
    box-shadow: rgba(92, 92, 92, 1) 1px 1px 3px;
    text-decoration: none;
    border-radius: 1.5em;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease;
    height: 100%;
    width: 100%;
}
.viewImage:active {
    transform: scale(0.98);
    font-size: 1.2em;
    text-align: center;
}

/******   text   ******/
.Text {
    font-size: 1em;
    left: 50%;
    bottom: 0;
    text-align: center;
    margin-top: 1%;
}

/*******************************************************************/
/***               ***     WHEELCHECKER   ***                   ***/
/*****************************************************************/

/******   description   ******/
.Description {
    text-align: center;
    text-decoration-line: none;
    font-size: 1.2em;
    margin-top: 2em;
    color: rgba(0, 0, 0, 0.66)
}

/******   wheelcheck area   ******/
.WheelCheckArea {

    @include for-phone-only {
        margin: 5em;
        height: 15em;
    }
    @include for-tablet-portrait-up {
        margin: 5em 10em 0 10em;
        height: 20em;
    }
    @include for-tablet-landscape-up {
        margin: 5em 10em 0 10em;
        height: 20em;
    }
    @include for-desktop-up {
        margin: 5em 10em 0 10em;
        height: 20em;
    }
    @include for-big-desktop-up {
        margin: auto;
        width: 60%;
        height: 45em;
    }
}

/******   wheel   ******/
#Wheel {
    padding-top: 8em;
    content: url("components/mousewheelChecker/files/mouse.png");
    /*border-style: solid;*/
    position: relative;
    float: right;
    animation: moving 10s infinite;
    background: transparent;
    /*иногда появляется какой-то непонятный бордер вокруг прозрачной png. Строки снизу это фиксят*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
    zoom: 1;
    @include for-phone-only {
        width: 10em;
        margin: 0;
    }
    @include for-tablet-portrait-up {
        width: 10em;
        margin: 0;
    }
    @include for-tablet-landscape-up {
        width: 10em;
        margin: 0;
    }
    @include for-desktop-up {
        width: 10em;
        margin: 0 3em 0 3em;
    }
    @include for-big-desktop-up {
        width: 20em;
    }
}
@keyframes moving {
    0% {
        left: 0;
        transform: rotateY(0deg)
    }
    18% {
        left: -40%;
        transform: rotateY(0deg) scale(0.7)
    }
    32% {
        left: -60%;
        transform: rotateY(0deg) scale(0.8)
    }
    45.5% {
        left: -80%;
        transform: rotateY(0deg)
    }
    46% {
        left: -80%;
        transform: rotateY(180deg) scale(0.95)
    }
    55% {
        left: -60%;
        transform: rotateY(180deg) scale(0.7)
    }
    65% {
        left: -40%;
        transform: rotateY(180deg) scale(0.85)
    }
    74.6% {
        left: -15%;
        transform: rotateY(180deg) scale(0.7)
    }
    75% {
        left: -15%;
        transform: rotateY(180deg) scale(0.7)
    }
    87% {
        left: -5%;
        transform: rotateY(180deg) scale(0.9)
    }
    99.7% {
        left: 0;
        transform: rotateY(180deg) scale(1)
    }
    100% {
        left: 0;
        transform: rotateY(0deg) scale(1)
    }
}

/******   wheel movements   ******/
#Wheel.Up {
    content: url("components/mousewheelChecker/files/mouseUp.png");
    /*transform: scale(1.05);*/
    filter: none;
}
#Wheel.Down {
    content: url("components/mousewheelChecker/files/mouseDown.png");
    /*transform: rotateY(180deg);*/
    filter: none;
}

/******   pics preload   ******/
.WheelPreload1 {
    content: url("/src/components/mousewheelChecker/files/mouseUp.png");
    opacity: 0;
    width: 0;
    height: 0;
}
.WheelPreload2 {
    content: url("/src/components/mousewheelChecker/files/mouseDown.png");
    opacity: 0;
    width: 0;
    height: 0;
}

/*******************************************************************/
/***                   ***     SNAKE   ***                      ***/
/*****************************************************************/

/******   game canvas   ******/
.GameCanvas {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
}
.GameField {
    @include for-phone-only {
        width: 420px;
        height: 360px;
    }
    @include for-tablet-portrait-up {
        width: 510px;
        height: 360px;
    }
    @include for-tablet-landscape-up {
        width: 720px;
        height: 360px;
    }
    @include for-desktop-up {
        width: 720px;
        height: 360px;
    }
    @include for-big-desktop-up {
        width: 810px;
        height: 510px;
    }
}

/******   score   ******/
.score {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.scoreUndertext {
    text-align: center;
    font-weight: normal;
    font-size: 0.6em;
    padding-bottom: 1em;
}

/******   restart button   ******/
.RestartButton {
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.44);
    border-radius: 2em;
    padding: 0.6em;
    text-decoration: none;
    max-width: fit-content;
    margin: 2em auto 0 auto;
}
.RestartButton:hover {
    background: rgba(249, 210, 157, 0.16);
    transform: scale(1.05);
    transition: 0.1s;
}